<figure id="myMap"> </figure>






<div id="container-festivals">
    <table class="table table-sm table-success">
        <thead>
            <tr>
                <th scope="col">Festivales</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Pais</th>
            </tr>
        </thead>
        <tbody>
            {{#each festivals}}
            <tr>
                <td>{{name}}</td>
                <td>{{city}}</td>
                <td>{{country}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- <h1>{{currentSession}}</h1> --}}
{{!-- <h1>Welcome {{currentSession.username}}!</h1> --}}
{{!-- <p>{{isAdmin}}</p> --}}
{{#if isAdmin}}
{{!-- <a href="/usuarios">Usuarios</a>
<a href="/bandas">Bandas</a> --}}
{{/if}}
{{#if currentSession}}
{{!-- <a href="/cerrar-sesion">Cerrar sesión</a> --}}
{{!-- <a href="/festivales">Festivales</a> --}}
{{else}}
{{!-- <a href="/iniciar-sesion">Iniciar sesion</a>
<a href="/registro">Registrarte</a> --}}
{{/if}}

{{!-- <h1>{{currentSession.role}}</h1> --}}
<script src="./js/directions.js"></script>
<script src="./js/map-styles.js"></script>
<script src="./js/map-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJQKY_4fQM-3INz7AXbWOxRcbeJqXQ9bE&callback=initMap"></script>