<ul class="mt-4">
    {{#each users}}

    <li>{{firstName}}</li>
    <li>{{lastName}}</li>
    <li>{{username}}</li>
    <li>{{email}}</li>
    <img src={{photo}} />
    <hr>

    {{/each }}
    <p id="error-login">
        {{errorMsg}}
    </p>
</ul>